<div id = "log-in">
	<a href="#my-id" class="uk-button login" data-uk-offcanvas>Đăng nhập tại đây</a>
	<div id="my-id" class="uk-offcanvas">
		<div class="uk-offcanvas-bar uk-offcanvas-bar-flip  box-login">
		 	<div class="uk-panel">
		 		<img src="img/s.png" alt="logo" width = "300">	
		 		<form class="uk-form">
		 		    <div class="uk-form-row">
		 		        <label class="uk-form-label" for="form-input-1">Tài khoản</label>
		 		        <div class="uk-form-controls">
		 		            <input type="text" id="form-input-1" placeholder="Tài khoản ....">
		 		        </div>
		 		    </div>
		 		
		 		    <div class="uk-form-row">
		 		        <label class="uk-form-label" for="form-input-1">Mật khẩu</label>
		 		        <div class="uk-form-controls">
		 		            <input type="password" id="form-input-1" placeholder="Mật khẩu....">
		 		        </div>
		 		    </div>
		 		    <div class="box-button">
		 		        <button class="uk-button btn_logup">Đăng ký</button>
		 		        <button class="uk-button btn_login">Đăng nhập</button>
		 		    </div>
		 		</form>
			</div>	
		</div>
	</div>
</div>
<div id = "pageheader">
	<div class = "header">
		<div class="left-header">
			
		</div>
		<div class="right-header">
			
		</div>
	</div>
</div>
<div id = "pagecontent">
	<div class="main">
		<div class = "box-infor-page">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
		<div class="image-page">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			
		</div>
		<div class ="page-main">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>
</div>