<div id="footerk" >
	<div class="newscontainer">
		<div id="infot">INFO</div>
		<a href="/#/new" class="pager">
			<div class="tickercontainer">
				<div class="mask">
					<ul id="webTicker" class="newsticker">
						<li  ng-repeat="tick in list">
							<div class="date">
								{{tick.date}}
							</div>
							<div class="n-title">
								{{tick.title}}
							</div>
						</li>
					</ul>
				</div>
			</div>
		</a>
	</div>
	<div id = "copyright">
		Copyright  &copy by kaina 2016
	</div>
</div>