<div class = "container-fluid mainboard">
	<div id = "vid-content">
		<div class="col-sm-8" style="padding-left: 0px">
			<div class = "video-content">
				<video id='MY_VIDEO_1' class='video-js vjs-default-skin'   controls preload='auto' data-setup='{}'>
					<source src='video/video/fansupport.mp4' type='video/mp4'>
					<p class='vjs-no-js'>To view this video please enable JavaScript, and consider upgrading to a web browser that</p>
				</video>	
			</div>
		</div>	
		<div class="col-sm-4" >
			<div class="my-scroll-area playlist" ng-nicescroll nice-option="{cursorcolor: '#e2edff'}" nice-scroll-end="endScroll()">
				<ol id ="listvideo" style = "padding: 0">
					<li class="videorelated" title="IU.mp4" ng-click = "playlist()">
						<div class="boxvideo">
							<img src="IU/1.jpg" alt="test" >
							<div class = "titlerelated">
									<span class="related-titlere">Fansupportwqeqwrasdasfasfqweqwrqwtasdasfa</span>
									<span class="related-uploader">Người đăng:adasqwe</span>
									<span class="related-view">Lượt xem: 12345</span>
							</div>
						</div>
					</li>
					<li class="videorelated" title="test2.mp4" ng-click = "playlist()">
						<div class="boxvideo">
							<img src="IU/1.jpg" alt="test" >
							<div class = "titlerelated">
									<span class="related-titlere">Fansupportwqeqwrasdasfasfqweqwrqwtasdasfa</span>
									<span class="related-uploader">Người đăng:adasqwe</span>
									<span class="related-view">Lượt xem: 12345</span>
							</div>
						</div>
					</li>
					<li class="videorelated" title="fansupport.mp4" ng-click = "playlist()">
						<div class="boxvideo">
							<img src="IU/1.jpg" alt="test" >
							<div class = "titlerelated">
									<span class="related-titlere">Fansupportwqeqwrasdasfasfqweqwrqwtasdasfa</span>
									<span class="related-uploader">Người đăng:adasqwe</span>
									<span class="related-view">Lượt xem: 12345</span>
							</div>
						</div>
					</li>
					<li class="videorelated" title="t.mp4" ng-click = "playlist()">
						<div class="boxvideo">
							<img src="IU/1.jpg" alt="test" >
							<div class = "titlerelated">
									<span class="related-titlere">Fansupportwqeqwrasdasfasfqweqwrqwtasdasfa</span>
									<span class="related-uploader">Người đăng:adasqwe</span>
									<span class="related-view">Lượt xem: 12345</span>
							</div>
						</div>
					</li>
					<li class="videorelated" title="IU.mp4" ng-click = "playlist()">
						<div class="boxvideo">
							<img src="IU/1.jpg" alt="test" >
							<div class = "titlerelated">
									<span class="related-titlere">Fansupportwqeqwrasdasfasfqweqwrqwtasdasfa</span>
									<span class="related-uploader">Người đăng:adasqwe</span>
									<span class="related-view">Lượt xem: 12345</span>
							</div>
						</div>
					</li>
					<li class="videorelated" title="IU.mp4" ng-click = "playlist()">
						<div class="boxvideo">
							<img src="IU/1.jpg" alt="test" >
							<div class = "titlerelated">
									<span class="related-titlere">Fansupportwqeqwrasdasfasfqweqwrqwtasdasfa</span>
									<span class="related-uploader">Người đăng:adasqwe</span>
									<span class="related-view">Lượt xem: 12345</span>
							</div>
						</div>
					</li>
					<li class="videorelated" title="IU.mp4" ng-click = "playlist()">
						<div class="boxvideo">
							<img src="IU/1.jpg" alt="test" >
							<div class = "titlerelated">
									<span class="related-titlere">Fansupportwqeqwrasdasfasfqweqwrqwtasdasfa</span>
									<span class="related-uploader">Người đăng:adasqwe</span>
									<span class="related-view">Lượt xem: 12345</span>
							</div>
						</div>
					</li>
					<li class="videorelated" title="IU.mp4" ng-click = "playlist()">
						<div class="boxvideo">
							<img src="IU/1.jpg" alt="test" >
							<div class = "titlerelated">
									<span class="related-titlere">Fansupportwqeqwrasdasfasfqweqwrqwtasdasfa</span>
									<span class="related-uploader">Người đăng:adasqwe</span>
									<span class="related-view">Lượt xem: 12345</span>
							</div>
						</div>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<script src="/javascripts/video.js" type="text/javascript" charset="utf-8" async defer></script>
